In [31]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

orders_df = pd.read_csv('orders.csv')
payments_df = pd.read_csv('payments.csv')
plan_df = pd.read_csv('plan.csv')

orders_df['created_at'] = pd.to_datetime(orders_df['created_at'])
orders_df['put_at'] = pd.to_datetime(orders_df['put_at'])
orders_df['closed_at'] = pd.to_datetime(orders_df['closed_at'])

payments_df['paid_at'] = pd.to_datetime(payments_df['paid_at'])

plan_df['plan_at'] = pd.to_datetime(plan_df['plan_at'])

payments_df = payments_df.sort_values(by=['order_id', 'paid_at'], ascending=[True, True]).reset_index(drop=True)
plan_df = plan_df.sort_values(by=['order_id', 'plan_at'], ascending=[True, True]).reset_index(drop=True)

payments_df['payment_order'] = payments_df['paid_at'].groupby(payments_df['order_id']).rank(method='first')
payments_df['paid_sum_total'] = payments_df['paid_sum'].groupby(payments_df['order_id']).cumsum()

plan_df['plan_order'] = plan_df['plan_at'].groupby(plan_df['order_id']).rank(method='first')
plan_df['plan_sum'] = plan_df['plan_sum_total'].groupby(plan_df['order_id']).diff().fillna(plan_df['plan_sum_total'])

total_df = pd.merge(orders_df, payments_df, on='order_id', how='inner')
total_df = pd.merge(total_df, plan_df, left_on=['order_id', 'payment_order'], right_on=['order_id', 'plan_order'], how='left')

total_df['plan_to_paid_diff'] = total_df['plan_sum']

total_df.head(30)

,order_id,created_at,put_at,closed_at,issued_sum,paid_at,paid_sum,payment_order,paid_sum_total,plan_at,plan_sum_total,plan_order,plan_total
0,400001732,2022-06-02 00:00:23.997,2022-06-02 20:18:00.180,2022-10-17 11:52:22.190,13600.0,2022-06-02 20:20:16.790,5600.00,1.0,5600.00,2022-06-02,5600.00,1.0,5600.00
1,400001732,2022-06-02 00:00:23.997,2022-06-02 20:18:00.180,2022-10-17 11:52:22.190,13600.0,2022-06-16 16:05:26.007,3850.00,2.0,9450.00,2022-07-02,9450.00,2.0,3850.00
2,400001732,2022-06-02 00:00:23.997,2022-06-02 20:18:00.180,2022-10-17 11:52:22.190,13600.0,2022-07-15 12:32:34.087,2720.00,3.0,12170.00,2022-08-01,12170.00,3.0,2720.00
3,400001732,2022-06-02 00:00:23.997,2022-06-02 20:18:00.180,2022-10-17 11:52:22.190,13600.0,2022-08-16 12:38:01.237,2720.00,4.0,14890.00,2022-08-31,14890.00,4.0,2720.00
4,400001732,2022-06-02 00:00:23.997,2022-06-02 20:18:00.180,2022-10-17 11:52:22.190,13600.0,2022-09-15 12:14:48.867,2720.00,5.0,17610.00,2022-09-30,17610.00,5.0,2720.00
5,400001732,2022-06-02 00:00:23.997,2022-06-02 20:18:00.180,2022-10-17 11:52:22.190,13600.0,2022-09-27 16:04:50.630,2720.00,6.0,20330.00,2022-10-30,20330.00,6.0,2720.00
6,400001732,2022-06-02 00:00:23.997,2022-06-02 20:18:00.180,2022-10-17 11:52:22.190,13600.0,2022-10-17 11:52:22.190,2720.00,7.0,23050.00,2022-11-29,23050.00,7.0,2720.00
7,400005838,2022-06-02 00:10:22.997,2022-06-02 15:41:33.267,2022-06-02 17:38:43.917,20000.0,2022-06-02 17:38:43.917,20200.00,1.0,20200.00,2022-06-17,23000.00,1.0,23000.00
8,400007915,2022-06-02 00:18:04.000,2022-06-05 19:17:38.547,2022-06-21 21:55:51.877,5820.0,2022-06-05 19:18:12.457,1820.00,1.0,1820.00,2022-06-05,1820.00,1.0,1820.00
9,400007915,2022-06-02 00:18:04.000,2022-06-05 19:17:38.547,2022-06-21 21:55:51.877,5820.0,2022-06-21 21:55:51.877,6759.10,2.0,8579.10,2022-06-20,2730.00,2.0,910.00
10,400008952,2022-06-02 00:22:07.000,2022-06-03 14:25:18.033,2022-07-12 10:47:46.307,9000.0,2022-07-12 10:47:46.307,12628.36,1.0,12628.36,2022-06-18,12628.36,1.0,12628.36
11,400009027,2022-06-02 00:25:39.000,2022-06-02 00:40:40.320,2022-06-22 14:15:07.423,5000.0,2022-06-22 14:15:07.423,6013.70,1.0,6013.70,2022-06-17,6013.70,1.0,6013.70
12,400010534,2022-06-02 00:46:35.000,2022-06-02 11:42:04.560,2022-07-14 22:15:19.217,14600.0,2022-06-03 12:23:03.627,4600.00,1.0,4600.00,2022-06-02,4600.00,1.0,4600.00
13,400010534,2022-06-02 00:46:35.000,2022-06-02 11:42:04.560,2022-07-14 22:15:19.217,14600.0,2022-06-17 19:17:38.240,2300.00,2.0,6900.00,2022-06-17,6900.00,2.0,2300.00
14,400010534,2022-06-02 00:46:35.000,2022-06-02 11:42:04.560,2022-07-14 22:15:19.217,14600.0,2022-07-14 22:15:19.217,16427.49,3.0,23327.49,2022-07-02,9417.67,3.0,2517.67
15,400013633,2022-06-02 00:46:38.000,2022-06-02 00:47:46.277,2022-06-16 03:15:48.960,9500.0,2022-06-02 00:48:13.800,2500.00,1.0,2500.00,2022-06-02,2500.00,1.0,2500.00
16,400013633,2022-06-02 00:46:38.000,2022-06-02 00:47:46.277,2022-06-16 03:15:48.960,9500.0,2022-06-16 03:15:48.960,11215.50,2.0,13715.50,2022-06-09,3750.00,2.0,1250.00
17,400014289,2022-06-02 01:12:32.000,2022-06-02 01:14:07.683,2022-06-06 15:04:37.347,10000.0,2022-06-06 15:04:37.347,10400.00,1.0,10400.00,2022-06-17,11500.00,1.0,11500.00
18,400014330,2022-06-02 01:13:39.997,2022-06-02 10:56:18.277,2022-06-13 12:16:33.123,5430.0,2022-06-13 12:16:33.123,7727.04,1.0,7727.04,2022-06-02,1430.00,1.0,1430.00
19,400014464,2022-06-02 01:17:28.000,2022-06-02 01:22:27.323,2022-06-06 16:29:00.720,3000.0,2022-06-06 16:29:00.720,3120.00,1.0,3120.00,2022-06-17,3450.00,1.0,3450.00
20,400015650,2022-06-02 01:21:03.997,2022-06-02 01:22:39.567,2022-06-02 18:24:34.800,2000.0,2022-06-02 18:24:34.800,2020.00,1.0,2020.00,2022-06-17,2300.00,1.0,2300.00
21,400017109,2022-06-02 01:24:35.000,2022-06-12 20:21:17.750,2022-08-13 12:52:38.240,3450.0,2022-06-12 20:23:13.663,1450.00,1.0,1450.00,2022-06-12,1450.00,1.0,1450.00
22,400017109,2022-06-02 01:24:35.000,2022-06-12 20:21:17.750,2022-08-13 12:52:38.240,3450.0,2022-07-10 23:25:59.610,940.00,2.0,2390.00,2022-07-12,2390.00,2.0,940.00
23,400017109,2022-06-02 01:24:35.000,2022-06-12 20:21:17.750,2022-08-13 12:52:38.240,3450.0,2022-07-27 20:19:53.380,690.00,3.0,3080.00,2022-08-11,3080.00,3.0,690.00
24,400017109,2022-06-02 01:24:35.000,2022-06-12 20:21:17.750,2022-08-13 12:52:38.240,3450.0,2022-08-13 12:52:38.240,2760.00,4.0,5840.00,2022-09-10,3770.00,4.0,690.00
25,400017255,2022-06-02 01:35:50.997,2022-06-02 22:25:52.367,2022-07-10 23:41:17.397,5430.0,2022-06-02 22:27:10.883,1430.00,1.0,1430.00,2022-06-02,1430.00,1.0,1430.00
26,400017255,2022-06-02 01:35:50.997,2022-06-02 22:25:52.367,2022-07-10 23:41:17.397,5430.0,2022-06-08 23:13:02.573,715.00,2.0,2145.00,2022-06-09,2145.00,2.0,715.00
27,400017255,2022-06-02 01:35:50.997,2022-06-02 22:25:52.367,2022-07-10 23:41:17.397,5430.0,2022-06-22 22:31:56.903,1063.77,3.0,3208.77,2022-06-24,3208.77,3.0,1063.77
28,400017255,2022-06-02 01:35:50.997,2022-06-02 22:25:52.367,2022-07-10 23:41:17.397,5430.0,2022-07-10 22:53:34.643,792.21,4.0,4000.98,2022-07-09,4000.98,4.0,792.21
29,400017255,2022-06-02 01:35:50.997,2022-06-02 22:25:52.367,2022-07-10 23:41:17.397,5430.0,2022-07-10 23:41:17.397,4456.07,5.0,8457.05,2022-07-24,4507.94,5.0,506.96